<!-- angularapp/src/app/student-list/student-list.component.html -->

<div class="container">
    <h2>Student List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Department</th>
          <th>Phone Number</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{ student.id }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.department }}</td>
          <td>{{ student.phonenumber }}</td>
          <td>
            <a [routerLink]="'/details/' + student.id">Details</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  